<!DOCTYPE html>
<html data-ng-app="todoApp">
<head>
	<script src="lib/angular.min.js"></script>
	<script src="lib/jquery-1.10.2.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/todo.js"></script>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/styles.css">

	<title>Angular Todo Test</title>
</head>
<body data-ng-controller="todoCtrl">
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Todo List</h1>

			<p>Todos: {{todos.length}}</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<input type="text" class="form-control" placeholder="Filter" id="filter" data-ng-model="filterQuery"/>
			<ul class="todoList">
				<li data-ng-repeat="todo in todos | filter: filterQuery">
					<label data-ng-class="{done: todo.done}">
						<input type="checkbox" class="form-control" data-ng-model="todo.done"/>
						{{todo.title}}
						<a class="btn-danger btn-xs" data-ng-click="remove(todo)">X</a>
					</label>
				</li>
				<li>
					<div class="row">
						<form>
							<div class="col-md-9">
								<input class="form-control" data-ng-model="newTitle" type="text" placeholder="New Entry"/>
							</div>
							<div class="col-md-3">
								<button type="submit" class="form-control btn-primary" data-ng-click="add()">Add</button>
							</div>
						</form>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>